# Copyright (c) 2010 Gennadiy Shafranovich
# Licensed under the MIT license
# see LICENSE file for copying permission.

# DEBUG flags for django
DEBUG = True
TEMPLATE_DEBUG = True

# database setup, the default engine is MYSQL
DATABASE_NAME = 'frano'
DATABASE_USER = 'tracker'
DATABASE_PASSWORD = 'trackmystocks'
DATABASE_HOST = 'localhost'
DATABASE_PORT = '3306'

# email set up for sending recovery emails
EMAIL_HOST = 'localhost'
EMAIL_PORT = '25'
EMAIL_HOST_USER = ''
EMAIL_HOST_PASSWORD = ''

# secret key of deployment
SECRET_KEY = '&1*y2=g+h57qxa&qct#z6+408l5$i5p7&cjp6)@@nfqwtrxn3&'