{% extends "base.html" %}

{% block title %}Frano: My fault, page exploded - 500{% endblock %}

{% block mainContent %}
  <div id="mainContent" >
    <div class="column-row">                
      <div class="eight columns">
        <div class="homepageCopy">
          <strong class="highlight">Sorry...really, I am very sorry you are seeing this page.</strong>
          <br/>
          <br/>
          
          So the page exploded. Lets just hope the server did not melt down along with it. First off: This is totally my fault.
          <br/>
          <br/>
                    
          Even though I blew up the page I would like to ask for a favor. Please visit the <a href="/feedback.html">feedback section</a> 
          and let me know what happened that made me blow up the page. If its not major, I can get a fix deployed for you as soon as it is
          done.
          <br/>
          <br/>
          
          <strong>Thank you for bearing with me while I try to make this site work.</strong>
           
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% comment %}
  Copyright (c) 2011 Gennadiy Shafranovich
  Licensed under the MIT license
  see LICENSE file for copying permission.
{% endcomment %}