<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html>
  <head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/css/global.css" type="text/css"/>
    <link rel="stylesheet" href="/css/layout.css" type="text/css"/>
    <link rel="stylesheet" href="/css/validationEngine.jquery.1.7.css" type="text/css"/>
    <link rel="stylesheet" href="/css/jquery-ui-1.8.6.custom.css" type="text/css"/>

    <script language="javascript" type="text/javascript" src="/js/jquery-1.4.2.min.js"></script>
    <script language="javascript" type="text/javascript" src="/js/jquery.validationEngine-en.1.7.js"></script>
    <script language="javascript" type="text/javascript" src="/js/jquery.validationEngine.1.7.js"></script>
    <script language="javascript" type="text/javascript" src="/js/jquery.jeditable.mini-1.7.1.js"></script>
    <script language="javascript" type="text/javascript" src="/js/jquery-ui-1.8.6.custom.min.js"></script>
    <script language="javascript" type="text/javascript" src="/js/main.js"></script>
    
    <script type="text/javascript">
      var rpxJsHost = (("https:" == document.location.protocol) ? "https://" : "http://static.");
      document.write(unescape("%3Cscript src='" + rpxJsHost + "rpxnow.com/js/lib/rpx.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
      RPXNOW.overlay = true;
      RPXNOW.language_preference = 'en';
    </script>
    
  </head>
  <body>

<!-- banner -->    
    <div id="banner"></div>
<!-- END: banner -->    
    
<!-- main container -->
    <div id="container">
      <div id="nav" class="column-row">
        <a href="/">
          <div class="one columns">
            <h1>Frano</h1>
          </div>
        </a>
        
        <div class="six columns">
          <div class="pageHeading">
            {% if not supress_navigation and user and portfolio %}
              Portfolio: 
              
              <select class="selectPortfolio">
                <option value="">Demo</option>
                {% for a_portfolio in portfolios %}
                  <option value="{{ a_portfolio.id }}" {% ifequal a_portfolio.id portfolio.id %}selected="selected"{% endifequal %}>{{ a_portfolio.name }}</option>
                {% endfor %}
              </select>
              
              {% ifequal portfolio.user.id user.id %}
                <a href="#" class="buttonLink navLink" id="editPortfolioName">Edit Name</a>
                
                <form id="portfolioNameForm" class="hidden">
                  <input type="text" id="portfolioName" class="selectPortfolio" value="{{ portfolio.name }}" />
                  <button class="navButton" id="setPortfolioName" value="{{portfolio.id}}">Set</button>
                  <button class="navButton" id="cancelPortfolioName">Cancel</button>
                </form>
                
                <a href="/{{portfolio.id}}/remove.html" id="deletePortfolio" class="buttonLink navLink">Delete</a>
                <a href="/createPortfolio.html" class="buttonLink navLink">Create New</a>
              {% endifequal %}

            {% else %}
              &nbsp;
            {% endif %}
          </div>
        </div>
        
        <div class="one columns">
          <div class="userLinks">
            <ul class="horizontallist">
              {% if not supress_navigation %}
                {% if user %}
                  <li><a href="/logout.html" class="buttonLink navLink">Sign Out</a></li>
                {% else %}
                  <li><a class="rpxnow buttonLink navLink" onclick="return false;" href="https://frano.rpxnow.com/openid/v2/signin?token_url=http%3A%2F%2F{{ request.META.HTTP_HOST }}%2Flogin.html">Sign In</a></li>
                {% endif %}
              {% endif %} 
            </ul>
          </div>
        </div>
      </div>    

<!-- header row -->    
      {% if not supress_navigation and user %}
        {% ifequal portfolio.user.id user.id %}
          <div class="subNav">
            <ul class="horizontallist">
              <li {% ifequal current_tab 'positions' %} class="current" {% endifequal %}><a href="/{{portfolio.id}}/positions.html">Positions</a></li>
              <li {% ifequal current_tab 'transactions' %} class="current" {% endifequal %}><a href="/{{portfolio.id}}/transactions.html">Transactions</a></li>
              <li {% ifequal current_tab 'import' %} class="current" {% endifequal %}><a href="/{{portfolio.id}}/importTransactions.html">Import</a></li>
            </ul>
          </div>      
        {% endifequal %}
      {% endif %}
<!-- END: header row -->

<!-- main content -->        
      {% block mainContent %}{% endblock %}
<!-- END: main content -->
    
<!-- footer -->
      <div class="column-row">
        <div class="eight columns legal">
          <a href="/feedback.html">Feedback</a> &nbsp;|&nbsp; 
          <a href="/legal.html">Legal</a> &nbsp;|&nbsp;
         <a href="http://github.com/fxdemolisher/frano" target="_blank">Source Code @ GitHub</a>
          <br/><br/>
          
          Designed by <a href="#" target="_blank">Todd Faulls</a>.
          <br/>
          
          &copy; 2010 <a href="http://www.carelessmusings.com" target="_blank">Gennadiy Shafranovich</a>,
          Licensed under the <a href="http://github.com/fxdemolisher/frano/blob/develop/LICENSE" target="_blank">MIT Software License</a>.
          <br/>

          Version: {{ BUILD_VERSION }}, Built On: {{ BUILD_DATETIME|date:'Y-m-d' }} {{ BUILD_DATETIME|time:'H:i' }}
          
        </div>
      </div>
<!-- END: footer -->
                 
    </div>
    <br style="clear:both;"/>
<!-- END: main container -->    

<!-- START: Google Analytics -->
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-19185013-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
<!-- END: Google Analytics -->
    
  </body>
</html>

{% comment %}
Copyright (c) 2010 Gennadiy Shafranovich
Licensed under the MIT license
see LICENSE file for copying permission.
{% endcomment %}
