<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html>
  <head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/css/global.css" type="text/css"/>
    <link rel="stylesheet" href="/css/layout.css" type="text/css"/>
    {% block extraCss %}{% endblock %}
    <script language="javascript" type="text/javascript" src="/js/jquery-1.4.2.min.js"></script>
    <script language="javascript" type="text/javascript" src="/js/main.js"></script>
    {% block extraJs %}{% endblock %}
  </head>

  <body>

<!-- banner -->    
    <div id="banner"></div>
<!-- END: banner -->    
    
<!-- main container -->
    <div id="container">
      <div id="nav" class="column-row">
        <a href="/">
          <div class="two columns">
            <h1>Frano</h1>
          </div>
        </a>
        <div class="six columns">
          <div class="userLinks">
            {% block navBar %}{% endblock %}
          </div>
        </div>
      </div>    
    
<!-- header row -->    
      <div id="header" class="column-row">
        {% block headerRow %}{% endblock %}
      </div>
<!-- END: header row -->

<!-- main content -->        
      <div id="mainContent" >
        {% block mainContent %}{% endblock %}
      </div>
<!-- END: main content -->
    
<!-- footer -->
      <div class="column-row">
        <div class="eight columns legal">
          <a href="/about.html">About</a> &nbsp;|&nbsp; 
          <a href="/feedback.html">Feedback</a> &nbsp;|&nbsp; 
          <a href="/legal.html">Legal</a>
          <br/><br/>
          
          &copy; 2010; <a href="http://www.carelessmusings.com" target="_blank">Gennadiy Shafranovich</a>,
          Licensed under the <a href="#" target="_blank">MIT Software License</a>.
          <br/>
          Designed by <a href="#" target="_blank">Todd Faulls.</a>
        </div>
      </div>
<!-- END: footer -->
                 
    </div>
<!-- END: main container -->    

    <br style="clear:both;"/>
  </body>
</html>

{% comment %}
Copyright (c) 2010 Gennadiy Shafranovich
Licensed under the MIT license
see LICENSE file for copying permission.
{% endcomment %}