<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html>
  <head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/css/global.css" type="text/css"/>
    <link rel="stylesheet" href="/css/layout.css" type="text/css"/>
    <link rel="stylesheet" href="/css/validationEngine.jquery.1.7.css" type="text/css"/>

    <script language="javascript" type="text/javascript" src="/js/jquery-1.4.2.min.js"></script>
    <script language="javascript" type="text/javascript" src="/js/jquery.infieldlabel.min.js"></script>
    <script language="javascript" type="text/javascript" src="/js/jquery.validationEngine-en.1.7.js"></script>
    <script language="javascript" type="text/javascript" src="/js/jquery.validationEngine.1.7.js"></script>
    <script language="javascript" type="text/javascript" src="/js/main.js"></script>
    
    <script type="text/javascript">
      var rpxJsHost = (("https:" == document.location.protocol) ? "https://" : "http://static.");
      document.write(unescape("%3Cscript src='" + rpxJsHost + "rpxnow.com/js/lib/rpx.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
      RPXNOW.overlay = true;
      RPXNOW.language_preference = 'en';
    </script>
    
  </head>
  <body>

<!-- banner -->    
    <div id="banner"></div>
<!-- END: banner -->    
    
<!-- main container -->
    <div id="container">
      <div id="nav" class="column-row">
        <a href="/">
          <div class="one columns">
            <h1>Frano</h1>
          </div>
        </a>
        <div class="five columns">
          <div class="userLinks">
            <ul class="horizontallist">
              {% if user %}
                <li>Portfolio:</li>
                <li>
                  <select id="portfolio" style="width: 222px;">
                    <option value=""></option>
                    {% for a_portfolio in portfolios %}
                      <option value="{{ a_portfolio.id }}" {% ifequal a_portfolio.id portfolio.id %}selected="selected"{% endifequal %}>{{ a_portfolio.name }}</option>
                    {% endfor %}
                  </select>
                </li>
                  
                {% ifequal portfolio.user.id user.id %}
                  <li>&nbsp;</li>
                  <li><form action="/{{ portfolio.id}}/positions.html"><button class="navButton">Positions</button></form></li>
                  <li><form action="/{{ portfolio.id}}/transactions.html"><button class="navButton">Transactions</button></form></li>
                  <li><form action="/{{ portfolio.id}}/settings.html" method="post"><button class="navButton">Settings</button></form></li>
                {% endifequal %}
              {% endif %}
            </ul>
          </div>
          
        </div>
        <div class="two columns">
          <div class="userLinks">
            <ul class="horizontallist">
              {% if not user %}
                <li><a class="rpxnow" onclick="return false;" href="https://frano.rpxnow.com/openid/v2/signin?token_url=http%3A%2F%2F{{ request.META.HTTP_HOST }}%2Flogin.html"><button class="navButton">Sign In</button></a></li>
              {% else %}
                <li><form action="/createPortfolio.html"><button class="navButton">Create a Portfolio</button></form></li>
                <li><form action="/logout.html"><button class="navButton">Sign Out</button></form></li>
              {% endif %} 
            </ul>
          </div>
        </div>
      </div>    

<!-- header row -->    
      <div id="header" class="column-row">
        <div class="six columns">
          <div class="pageHeading">{% block pageHeading %}{% endblock %}</div>
        </div>
      </div>
<!-- END: header row -->

<!-- main content -->        
      {% block mainContent %}{% endblock %}
<!-- END: main content -->
    
<!-- footer -->
      <div class="column-row">
        <div class="eight columns legal">
          <a href="/feedback.html">Feedback</a> &nbsp;|&nbsp; 
          <a href="/legal.html">Legal</a> &nbsp;|&nbsp;
         <a href="http://github.com/fxdemolisher/frano" target="_blank">Source Code @ GitHub</a>
          <br/><br/>
          
          Designed by <a href="#" target="_blank">Todd Faulls</a>.
          <br/>
          
          &copy; 2010 <a href="http://www.carelessmusings.com" target="_blank">Gennadiy Shafranovich</a>,
          Licensed under the <a href="http://github.com/fxdemolisher/frano/blob/develop/LICENSE" target="_blank">MIT Software License</a>.
          <br/>

          Version: {{ BUILD_VERSION }}, Built On: {{ BUILD_DATETIME|date:'Y-m-d' }} {{ BUILD_DATETIME|time:'H:i' }}
          
        </div>
      </div>
<!-- END: footer -->
                 
    </div>
<!-- END: main container -->    

    <br style="clear:both;"/>
  </body>
</html>

{% comment %}
Copyright (c) 2010 Gennadiy Shafranovich
Licensed under the MIT license
see LICENSE file for copying permission.
{% endcomment %}
