{% extends "base.html" %}
{% load frano_filters %}

{% block title %}Frano: Portfolio Management Improved{% endblock %}

{% block pageHeader %}
  <div class="eight columns">
    <div class="pageHeading">Frano - Simple Portfolio Tracking</div>
    <br style="clear:both;"/> 
  </div>
{% endblock %}

{% block mainContent %}
  <div id="mainContent" >
  
    {% if request.GET.loginFailed %}
      <div class="message">Login Failed...sorry :(</div>
    {% endif %}
    
    <div class="column-row">                
      <div class="eight columns">
        <div class="homepageCopy">
          <strong class="highlight">No marketing, no bullshit, just portfolios</strong>
          <br/>
          Here's a sample portfolio for you to play around with. It is valid for the current session. If you wish to track your own portlios, simply sign in and
          enter your data. Happy Tracking.
        </div>
      </div>
    </div>
    
    {% include "inc_summary.html" %}
    {% include "inc_positions.html" %}
  </div>
  
  {% include "inc_transactionForm.html" %}
  {% include "inc_transactions.html" %}

{% endblock %}

{% comment %}
  Copyright (c) 2010 Gennadiy Shafranovich
  Licensed under the MIT license
  see LICENSE file for copying permission.
{% endcomment %}