{% load frano_filters %}

<div class="column-row">                
  <div class="two columns">
    <ul class="importantData">
      <li class="name">Market Value</li>
      <li class="value">${{ summary.market_value|num_format }}</li>
      <li class="related"><strong>Cost Basis</strong> ${{ summary.cost_basis|num_format }}</li>
    </ul>
  </div>
  
  <div class="two columns offset-by-one">
    <ul class="importantData">
      <li class="name">Profit Loss</li>
      <li class="value {{ summary.pl|sign_choice:'pos,neg,' }}">${{ summary.pl|num_format }}</li>
      <li class="related">
        <strong>Overall</strong> <span class="{{ summary.pl_percent|sign_choice:'pos,neg,' }}">{{ summary.pl_percent|floatformat:'2' }}%</span>
        &nbsp;&nbsp;
        <strong>XIRR</strong> <span class="{{ summary.xirr_percent|sign_choice:'pos,neg,' }}">{{ summary.xirr_percent|floatformat:2 }}%</span>
      </li>
    </ul>
  </div>

  <div class="two columns offset-by-one">
    <ul class="importantData">
      <li class="name">As Of</li>
      <li class="value">{{ summary.as_of_date|date:'m/d/Y' }}</li>
      <li class="related">
        <strong>Started On</strong> {{ summary.start_date|date:'m/d/Y' }}
      </li>
    </ul>
  </div>
</div>

{% comment %}
  Copyright (c) 2010 Gennadiy Shafranovich
  Licensed under the MIT license
  see LICENSE file for copying permission.
{% endcomment %}