{% load frano_filters %}

<script type="text/javascript">
  var dates = [ {% for history in pl_history %}new Date({{ history.as_of_date.year }}, {{ history.as_of_date.month|add:'-1' }}, {{ history.as_of_date.day }}), {% endfor %} ];
  var profitLossPercent = [ {% for history in pl_history %}{{ history.profit_loss_percent}}, {% endfor %} ];
  var benchmark  = [ {% for history in pl_history %}{{ history.benchmark_profit_loss_percent}}, {% endfor %} ];
  var benchmarkSymbol = '{{ benchmark_symbol|escapejs }}';

  var allocation = [ {% for position in positions %}[ '{{ position.symbol|escapejs }}', {{ position.allocation }} ], {% endfor %} ]
  
  $(function() {
    initializeProfitLossChart($("#plChart"));
    initializeAllocationChart($("#allocationChart"));
  });
</script>

<div class="column-row">
  <div class="columns" id="allocationChartColumn">
    <div id="allocationChart">&nbsp;</div>
  </div>
  
  <div class="columns" id="plChartColumn">
    <div id="plChartContainer">
      <div id="plChart">&nbsp;</div>
    </div>
  </div>
</div>