{% load frano_filters %}

<script type="text/javascript">
  var dates = []
  var performance = []
  var benchmark  = []
  var benchmarkSymbol = '{{ benchmark_symbol|escapejs }}';
  
  {% for history in performance_history %}
    dates[dates.length] = new Date({{ history.as_of_date.year }}, {{ history.as_of_date.month|add:'-1' }}, {{ history.as_of_date.day }}); performance[performance.length] = {{ history.percent}}; benchmark[benchmark.length] = {{ history.benchmark_percent}};
  {% endfor %}
  
  var allocation = [ {% for position in positions %}[ '{{ position.symbol|escapejs }}', {{ position.allocation }} ], {% endfor %} ]
  
  $(function() {
    initializeProfitLossChart($("#performanceChart"));
    initializeAllocationChart($("#allocationChart"));
  });
</script>

<div class="column-row">
  <div class="columns" id="allocationChartColumn">
    <div id="allocationChart">&nbsp;</div>
  </div>
  
  <div class="columns" id="performanceChartColumn">
    <div id="performanceChartContainer">
      <div id="performanceChart">&nbsp;</div>
    </div>
  </div>
</div>