{% load frano_filters %}

<div class="column-row">                
  <div class="three columns">
    <ul class="importantData">
      <li class="name">Market Value</li>
      <li class="value">${{ summary.market_value|num_format }}</li>
      <li class="related"><strong>Cost Basis:</strong> ${{ summary.cost_basis|num_format }}</li>
    </ul>
  </div>
  
  <div class="three columns">
    <ul class="importantData">
      <li class="name">Unrealized Profit Loss</li>
      <li class="value {{ summary.pl|sign_choice:'pos,neg,' }}">${{ summary.pl|num_format }}</li>
      <li class="related">
        <strong>As %:</strong> <span class="{{ summary.pl_percent|sign_choice:'pos,neg,' }}">{{ summary.pl_percent|floatformat:'2' }}%</span>
        &nbsp;&nbsp;
        <strong>XIRR:</strong> <span class="{{ summary.xirr_percent|sign_choice:'pos,neg,' }}">{{ summary.xirr_percent|floatformat:2 }}%</span>
      </li>
    </ul>
  </div>
  
  <div class="two columns">
    <ul class="importantData">
      <li class="name">Todays P/L $</li>
      <li class="value {{ summary.day_pl|sign_choice:'pos,neg,' }}">${{ summary.day_pl|num_format }}</li>
      <li class="related">
        <strong>As %:</strong> <span class="{{ summary.day_pl_percent|sign_choice:'pos,neg,' }}">{{ summary.day_pl_percent|floatformat:'2' }}%</span>
      </li>
    </ul>
  </div>

</div>

{% comment %}
  Copyright (c) 2010 Gennadiy Shafranovich
  Licensed under the MIT license
  see LICENSE file for copying permission.
{% endcomment %}