{% load frano_filters %}

<script type="text/javascript">
  symbols = [ {% for symbol in symbols %} '{{ symbol }}', {% endfor %} ];
</script>

<div id="content" >
  <div class="column-row">
    <div class="eight columns">
      <div class="transactionsCopy">
        <strong class="highlight">Use this form to record transactions in your portfolio or use the</strong>
        <a href="/{{portfolio.id}}/importTransactions.html" class="buttonLink importButton">Import Tool</a>
        <br class="clear" />
      
        Buys and Sells will automatically adjust the amount of cash in your portfolio, so make sure you record your deposits first. Also,
        if you want to reconcile the amount of cash without affecting the XIRR, use the Adjust Cash transaction type.
        <br class="clear" />
      </div>
      
      <form action="/{{portfolio.id}}/addTransaction.html" method="post" id="addTransactionForm">
        <table class="holdingsTable" id="holdingsTable" width="100%" cellpadding="0" cellspacing="0">
          <tbody>
            <tr>
              <td>Transaction Type:</td>
              <td><input type="radio" name="type" id="typeBuy" value="BUY" checked="checked" class="newTransactionType validate[required]" /> Buy Securities</td>
              <td><input type="radio" name="type" id="typeSell" value="SELL" class="newTransactionType validate[required]" /> Sell Securities</td>
              <td><input type="radio" name="type" id="typeDeposit" value="DEPOSIT" class="newTransactionType validate[required]" /> Deposit Cash</td>
              <td><input type="radio" name="type" id="typeWithdraw" value="WITHDRAW" class="newTransactionType validate[required]" /> Withdraw Cash</td>
              <td><input type="radio" name="type" id="typeAdjust" value="ADJUST" class="newTransactionType validate[required]" /> Adjust Cash</td>
            </tr>
          </tbody>
        </table>
        <table class="holdingsTable" id="holdingsTable" width="100%" cellpadding="0" cellspacing="0">
          <thead>
            <tr>
              <td>Date:</td>
              <td>Symbol:</td>
              <td>Quantity:</td>
              <td>Price:</td>
              <td>Commission:</td>
              <td>Total:</td>
              <td>&nbsp;</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><input type="text" name="as_of_date" id="as_of_date" size="10" value="{{ today|date:'m/d/Y' }}" class="validate[required]"/></td>
              
              <td><input type="text" name="symbol" id="symbol" size="5" class="securitiesField validate[required,length[1,5],noSpecialCharacters]"/></td>
              <td><input type="text" name="quantity" id="quantity" size="8" class="securitiesField validate[required,length[1,9],onlyNumber]"/></td>
              <td>
                $<input type="text" name="price" id="price" size="8" class="securitiesField validate[required,length[1,9],onlyNumber]"/>
                <img src="/img/icon_search.gif" style="cursor: pointer;" id="priceLookup" />
              </td>
              <td>$<input type="text" name="commission" id="commission" size="5" class="securitiesField validate[length[0,9],onlyNumber]"/></td>
              
              <td>
                <input type="hidden" name="symbol" value="*CASH" class="cashField" disabled="disabled" />
                <input type="hidden" name="price" value="1.0" class="cashField" disabled="disabled" />
                $<input type="text" name="quantity" id="total" size="8" class="cashField validate[required,length[1,9],onlyNumber]" disabled="disabled"/>
              </td>
              
              <td><div class="icon add" id="addTransaction"></div></td>
            </tr>
          </tbody>
        </table>
      </form>
    </div>
  </div>
</div>