{% load frano_filters %}

{% if transaction_sets.0 %}
  <div id="content" >
    <div class="column-row">
      <div class="eight columns">
        <table class="holdingsTable" id="holdingsTable" width="100%" cellpadding="0" cellspacing="0">
          <thead>
            <tr>
              <td>Type</td>
              <td>Date</td>
              <td>Symbol</td>
              <td>Qty</td>
              <td>Price</td>
              <td>Total</td>
              <td class="exportTransactions"><a href="/{{portfolio.id}}/exportTransactions.csv"><img src="/img/csv-export.gif">Export as CSV</a></td>
              <td>&nbsp;</td>
            </tr>
          </thead>
          <tbody id="holdingsTableTbody">
          
            {% for transaction_set in transaction_sets %}
              {% for transaction in transaction_set %}
                <tr class="transactionRow {% if forloop.parentloop.last %}hidden{% endif %}">
                  <td><div class="transactionType {{ transaction.type|lower }}">{{ transaction.type }}</div></td>
                  <td>
                    <div class="inline-editable" id="edit_{{ portfolio.id }}_{{ transaction.id }}_date_83">{{ transaction.as_of_date|date:'m/d/Y' }}</div>
                    <div class="inline-editable-prompt">click to edit</div>
                  </td>
                  <td>
                    <div class="inline-editable" id="edit_{{ portfolio.id }}_{{ transaction.id }}_symbol_59 tickerSymbol">{{ transaction.symbol }}</div>
                    <div class="inline-editable-prompt">click to edit</div>
                  </td>
                  <td>
                    {% ifnotequal transaction.symbol "*CASH" %}
                      <div class="inline-editable" id="edit_{{ portfolio.id }}_{{ transaction.id }}_quantity_83">{{ transaction.quantity|num_format }}</div>
                      <div class="inline-editable-prompt">click to edit</div>
                    {% else %}
                      {{ transaction.quantity|num_format }}
                    {% endifnotequal %}
                  </td>
                  <td>
                    {% ifnotequal transaction.symbol "*CASH" %}
                      <div class="inline-editable" id="edit_{{ portfolio.id }}_{{ transaction.id }}_price_83">${{ transaction.price|num_format }}</div>
                      <div class="inline-editable-prompt">click to edit</div>
                    {% else %}
                      ${{ transaction.price|num_format }}
                    {% endifnotequal %}
                  </td>
                  <td>
                    <div class="inline-editable" id="edit_{{ portfolio.id }}_{{ transaction.id }}_total_83">${{ transaction.total|num_format }}</div>
                    <div class="inline-editable-prompt">click to edit</div>
                  </td>
                  <td><a href="/{{ portfolio.id }}/{{transaction.id}}/remove.html"><div id="deleteTransaction" class="icon delete"></div></a></td>
                  <td>&nbsp;</td>
                </tr>
              {% endfor %}
            {% endfor %}
            
            {% if transaction_sets.1 %}
              <tr id="seeAllTransactions"><td colspan="8" align="center"><a href="#">See All Transactions</a></td></tr>
            {% endif %}
      
          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endif %}