{% extends "base.html" %}
{% load frano_filters %}

{% block title %}Frano: Positions - {{ portfolio.name }}{% endblock %}

{% block extraJs %}
  <script language="javascript" type="text/javascript" src="/js/jquery.flot.0.6.min.js"></script>
  <script language="javascript" type="text/javascript" src="/js/jquery.flot.pie.0.6.js"></script>
{% endblock %}

{% block mainContent %}
  <div id="mainContent" >
    {% include "inc_summary.html" %}
    {% include "inc_positions.html" %}
    {% include "inc_portfolioCharts.html" %}
  </div>
  
  <div id="content" >
      <div class="eight columns readOnlyCopy">
        <strong class="highlight">You can share your portfolio with friends using:</strong>
               
        <a name="fb_share" share_url="http://{{ request.META.HTTP_HOST }}/{{ portfolio.read_only_token }}/"></a> 
        <script src="http://static.ak.fbcdn.net/connect.php/js/FB.Share" type="text/javascript"></script>
        
        or 
        
        <a href="http://twitter.com/share?url=http%3A%2F%2F{{ request.META.HTTP_HOST|urlencode }}%2F{{ portfolio.read_only_token }}%2F" class="twitter-share-button" data-count="none">Tweet</a>
        <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
        
        or 
        
        <a href="http://{{ request.META.HTTP_HOST }}/{{ portfolio.read_only_token }}/" target="_blank">Direct Link</a>
        
      </div>
  </div>
{% endblock %}

{% comment %}
  Copyright (c) 2010 Gennadiy Shafranovich
  Licensed under the MIT license
  see LICENSE file for copying permission.
{% endcomment %}