{% extends "base.html" %}
{% load frano_filters %}

{% block title %}Frano: {{ portfolio.name }} - Settings{% endblock %}

{% block pageHeading %}{{ portfolio.name}} - Settings{% endblock %}

{% block mainContent %}
  <div id="mainContent" >
    <div class="column-row">
      <div class="five columns">
        <div class="portfolioForm">
          <form action="/{{ portfolio.id }}/update.html" id="portfolioForm" method="post">
            <label for="name">Name</label>
            <input type="text" name="name" id="name" value="{{ portfolio.name }}" class="validate[required,length[3,50],noSpecialCharacters]"/>
            <br class="clear"/>
            
            <label>Read-Only URL</label>
            <span><a href="http://{{ request.META.HTTP_HOST }}/{{ portfolio.read_only_token }}/view.html" target="_blank">http://{{ request.META.HTTP_HOST }}/{{ portfolio.read_only_token }}/view.html</a></span>
            <br class="clear"/>
            
            <label>Created On:</label>
            <span>{{ portfolio.create_date|date:'m/d/Y' }}</span>
            <br class="clear"/>
            
            <button class="addButton">Save Changes</button>
          </form>
        </div>
      </div>
      <br class="clear"/>
      
      {% ifnotequal portfolios.count 1 %}
        <a href="/{{ portfolio.id }}/remove.html" id="deletePortfolio">Delete this Portfolio</a>
        <br class="clear"/>
      {% endifnotequal %}
        
    </div>
  </div>
{% endblock %}

{% comment %}
  Copyright (c) 2010 Gennadiy Shafranovich
  Licensed under the MIT license
  see LICENSE file for copying permission.
{% endcomment %}