{% extends "base.html" %}

{% block title %}Frano: {{ portfolio.name }} - Settings{% endblock %}

{% block pageHeader %}
  <div class="six columns">
    <div class="pageHeading">{{ portfolio.name }} - Settings</div>
    <br style="clear:both;"/> 
  </div>
  <div class="one columns">
    <form action="/{{ portfolio.token }}/view.html">
      <button class="homepageButton">Portfolio</button>
    </form>
  </div>
  <div class="one columns">
    <form action="/{{ portfolio.token }}/settings.html">
      <button class="homepageButton">Settings</button>
    </form>
  </div>
{% endblock %}

{% block mainContent %}
  <div id="mainContent" >
    <div class="column-row">                
      <div class="six columns">
        <h2>The links for this portfolio are:</h2>
        
        <br class="clear" />
        
        <strong>Read/Write Link &mdash; </strong> <a href="http://{{ request.META.HTTP_HOST }}/{{ portfolio.token }}/view.html">http://{{ request.META.HTTP_HOST }}/{{ portfolio.token }}/view.html</a>
        <br class="clear" />
        
        <strong>Read-Only Link &mdash; </strong> <a href="http://{{ request.META.HTTP_HOST }}/{{ portfolio.read_only_token }}/view.html">http://{{ request.META.HTTP_HOST }}/{{ portfolio.read_only_token }}/view.html</a>
        <br class="clear" />
        
      </div>
      <br class="clear"/>
      <br class="clear"/>
      
      <div class="four columns">
        <h2>Settings:</h2>
        <div class="updateSettingsForm">
        
          <form action="/{{ portfolio.token }}/settings.html" method="post">
            <label for="name">Portfolio Name</label>
            <input type="text" name="name" value="{{ portfolio.name }}"/>
            {{ form.errors.name }}
            <br class="clear"/>
            
            <label for="email">Recovery Email</label>
            <input type="text" name="email" value="{{ portfolio.recovery_email }}"/>
            {{ form.errors.email }}
            <br class="clear"/>
             
            <button class="addButton">Save Changes</button>
            <br class=" clear"/>
          </form>
        </div>
      </div>
      <br class="clear"/>
      
      <div class="three columns">
        <h2>Remove this portfolio:</h2>
        <div class="updateSettingsForm">
          NOTE: This action cannot be undone.
          <br class="clear" />
        
          <form action="/{{ portfolio.token }}/remove.html" method="post">
            <button class="addButton">Remove</button>
            <br class="clear"/>
          </form>
        </div>
      </div>
  
    </div>
  </div>
{% endblock %}

{% comment %}
  Copyright (c) 2010 Gennadiy Shafranovich
  Licensed under the MIT license
  see LICENSE file for copying permission.
{% endcomment %}