{% extends "base_public.html" %}

{% block pageHeading %}Cruft-Free Portfolios{% endblock %}

{% block mainContent %}
<div class="column-row">                
  <div class="eight columns">
    <div class="homepageCopy">
      <strong class="highlight">Frano strips away all the bullshit and shows you what you really want to know about your portfolio.</strong>
      <br/>
      We strip down your portfolio to a few basic statistics: 
      How is your money allocated?
      How much did it cost you? 
      How much are you making? 
      What is the time weighted return?
    </div>
  </div>
</div>
<div class="column-row" style="margin-bottom:0;">                
  <div class="four columns">
    <div class="homepageImg"></div>
    <br class="clear"/>
  </div>
  <div class="four columns">
    <div class="homepageFeatures">
      <ul>
        <li>
          <strong>What do we do?</strong>
          Help investors track their buy-and-hold portfolios.
        </li>
        <li>
          <strong>What is required?</strong>
          You will need to know the cost basis of positions in your portfolio and how much cash you have. Thats it!!!
        </li>
        <li>
          <strong>Do I need to sign up?</strong>
          Feel free to use us as a "what if" service to see how a portfolio allocation may work out. An account is only required if you wish us to 
          keep information about your portfolio so that you can easily access it again. 
        </li>
      </ul>
    </div>
  </div>
</div>
{% endblock %}